<p>Lyhennetty linkkisi osoitteeseen <i>{{ fullUrl }}</i> on luotu.</p>
<p><a href="{{ shortUrl }}/">Lyhennetty linkki</a>: <copy-able><i>{{ shortUrl }}</i></copy-able></p>
<a href="{{ shortUrl }}/stats/">Katso tilastotietoa tai poista linkki</a>