<form action="{{ url_create_path }}" method="post">
  <fieldset>
    <legend>Lyhenn채 linkki</legend>
    <label>
      Lyhennett채v채 verkko-osoite
      <input name="url" type="url" autocomplete="url">
    </label>
    <label>
      Salasana linkin poistoa varten
      <password-field>
        <input name="password" type="password" autocomplete="new-password">
      </password-field>
    </label>
    <input type="submit" value="Lyhenn채">
  </fieldset>
</form>